<section class="settings">
  <h2 class="settings-heading">コラボフロー連携設定</h2>
  <p class="kintoneplugin-desc">
    kintoneレコードから、連携しているコラボフロー文書を開くことができるプラグインです。
  </p>
  <form id="collaboflow-plugin-settings">
    <p class="kintoneplugin-row">
      <div class="kintoneplugin-require">
        コラボフロー ルートURL
      </div>
      <div class="kintoneplugin-input-outer">
        <input id="collaboflow-root-url" type="text" class="kintoneplugin-input-text" >
      </div>
    </p>
    <p class="kintoneplugin-row">
      <div class="kintoneplugin-require">
      文書IDフィールド
      </div>
      <div class="kintoneplugin-select-outer">
        <div class="kintoneplugin-select">
          <select id="collaboflow-instanceCode-field"></select>
        </div>
      </div>
      <div class="kintoneplugin-desc">
        コラボフローの文書IDがセットされるフィールドを指定してください。<br>
        ここでの指定フィールドから文書IDを取得し、コラボフローの文書を開きます。
      </div>
    </p>
    <p class="kintoneplugin-row">
        <div class="kintoneplugin-require">
        ボタンの名称
        </div>
        <div class="kintoneplugin-input-outer">
          <input id="collaboflow-documentbutton-label" type="text" class="kintoneplugin-input-text" >
        </div>
        <div class="kintoneplugin-desc">
          レコード詳細に表示される「申請書を開くボタン」の名称を指定します。
        </div>
      </p>
    <p class="kintoneplugin-row">
        &nbsp;
    </p>
    <p class="kintoneplugin-row">
        <button class="kintoneplugin-button-normal">保存する</button>
    </p>
  </form>
</section>